<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TelegramContenst2022 - Pavel Lunev</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TelegramContenst2022 - Pavel Lunev</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>TelegramContenst2022 - Pavel Lunev</string>
	<key>NSCameraUsageDescription</key>
	<string>TelegramContenst2022 - Pavel Lunev</string>
</dict>
</plist>
